div {
  height: 100px;
  width: 100px;
}

body {
  height: 1200px;
}

main {
  position: fixed;
  width: 90vw;
  border: thin solid purple;
  /* height: 1200px; */
  margin: 20px;
  bottom: 20px;
}

#two {
  background-color: blue;
  /* position: relative; */
}

#three {
  background-color: green;
  /* position: relative; */
}

#one {
  background-color: red;
  position: relative;
  top: 40px;
  left: 40px;
}
